<% content_for :title do %>
  FoodCRUD &ndash; <%= DateTime.now.strftime('%B %d, %Y') %>
<% end %>
<div class="columns mt-6 is-centered">
  <% @entries.each do |entry| %>
    <div class="column is-one-quarter">
      <div class="card">
        <%= render entry %>
      </div>
    </div>
  <% end %>
</div>
<div class="buttons is-centered columns mt-6">
  <%= link_to "View all entries", archives_index_path, class:"button is-primary is-centered is-medium"%>
  <%= link_to "Calories Rating", weights_entries_path, remote: true,class:"button is-link is-centered is-medium" %>
</div>
